td.selected {
    background-color: transparent;
    border: 2px dashed green;
    outline: none;
}
.d-flex-btn-wrapper {
    display: flex;
    gap: 10px;
    justify-content: end;
    position: relative;
    top: 65px;
}
ul {
    font-size: 13px;
}
.rangeFlag {
    border: 1px solid;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    padding: 2px 7px;
    margin-left: 5px;
    position: absolute;
    background: #716e6e;
    color: white;
    font-size: 11px;
    line-height: 1.2;
    font-weight: bold;
}
td.rangeHover {
    background-color: transparent;
    border: 2px dashed green !important;
    outline: none;
}